/* Universal */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Inter', 'sans-serif';
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

body {
    width: 100%;
}
/* Typography */

nav a {
    color: #FFFFFF;
    font-size: 4vw;
    margin-left: 1em;
    border-bottom: 2px #000000 solid;
}

nav a:hover, nav a:focus {
    border-bottom: 2px #FFFFFF solid;
}

h1 {
    font-size: 4vw;
}

.link {
    font-weight: 500;
    font-size: 1rem;
}

.notice a {
    color: #000000;
    text-decoration: underline;
}

.products-item * {
    font-weight: 400;
}

.products-item-artist {
    color: #666666;
}

/* Images */

#cart-image {
    margin-right: .2em;
    width: 1em;
    transform: translateY(-10%);
}

.badge {
    padding: .2rem;
    border-radius: 50%;
    font-weight: 500;
    font-size: .75rem;
    background: #FF3300;
    color: #fefefe;
}

.products-item-image, .carousel-item img, .cart-item-image {
    max-width: 100%;
}

.products-item-image {
    order: -1;
}

/* Buttons */

.add-cart-button {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    padding: .25em 1em;
    cursor: pointer;
}

.add-cart-button:hover, .add-cart-button:focus {
    background-color: #ffd561;
    color: #000000;
}

/* nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3em;
    width: 100%;
    background-color: #000000;
}

.right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 0;
}

.cart {
    display: flex;
}

/* @media (min-width: 750px) {
    nav a {
        font-size: 1rem;
    }
} */

/* Notice */

.notice {
    width: 100%;
    background-color: #ffd561;
    text-align: center;
    padding: .2em;
}

/* Footer */

footer {
    margin-top: auto;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: .5em;
}

/* Prdoucts Page */

.records {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-item {
    width: 90%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px #000000;
    padding: .5em;
}

.pricing {
    margin-top: .75em;
    display: flex;
    justify-content: space-between;
}